@import "./helpers/_variables.scss";

.btn-back {
  border: none;
  color: $c-dark;
  background: none;
  font-size: 16px;
  font-weight: 500;
  margin-right: 30px;
  cursor: pointer;

  &:disabled {
    color: $c-gray;
  }
}