@import "./helpers/_variables.scss";

.btn-add-col {
  color: $c-primary;
  display: flex;
  align-items: center;
  padding: 0 15px;
  height: 40px;
  width: 100%;
  text-align: left;
  background: none;
  cursor: pointer;
  border: 1px dashed $c-gray-light;
  border-radius: 4px;
  transition: border-color .2s;

  &:hover {
    border-color: $c-primary;
  }

  &__title {
    font-size: 12px;
    font-family: 'IBM Plex Sans', sans-serif;
  }

  .icon-plus {
    width: 9px;
    height: 9px;
    fill: $c-primary;
    margin-right: 10px;
  }
}